<table class="table table-striped table-hover w-50">
  <thead class="table-dark">
    <tr class="header">
      <th><i class="fa-solid fa-users"></i>Name</th>
      <th>Role</th>
      <th><i class="fa-sharp fa-solid fa-shop"></i>Shop name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |i| %>
      <tr>
        <td><%= i.name%></td>
        <td><%= i.role%></td>
        <td><%= i.petshop&.shopname%></td>
      </tr>
    <%end%>
  </tbody>
</table>