<% if user_signed_in? && current_user.role.upcase == "ADMIN"%>
  <h1>User List</h1>
  <% @users.each do |i|%>
    <%= i.name%>
    <%= link_to "Show", home_path(i)%>
    <%= link_to "create shop"%><br>
  <%end%>
  <%= link_to "Add pet"%>
<%end%>




